@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: fonteUM;
    src: url(fontes/TruenoBdIt.otf) format('opentype');
} 
@font-face {
    font-family: fonteDOIS;
    src: url(fontes/Designer.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #131314;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.divheader {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #1d1335;
    padding: 10px 20px;
    box-shadow: 0px 10px 27px #2E1B5B, -13px -13px 27px #32215a;
    z-index: 2;
    margin-bottom: -50px;
    justify-content: center;
}

img#LOGOcabeca {
    width: 100%;
    max-width: 350px;
    height: auto;  
}

.wall {
    background-image: url(img/cs.png);
    background-color: #131314;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: fonteDOIS;
    color: white;
    font-size: 1.5rem;
    gap: 13px;
    margin-bottom: 100px;
}

.roxo {
    color: #552CFF;
}

.TITULO {
    margin: 5px 0;
    font-size: 2.2rem;
    font-family: fonteDOIS;
    text-align: center;
}

.txt {
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    max-width: 45.75rem;
    margin: 10px 0;
}

img#logoIN {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: -90px;
}

.wall2 {
    background-image: url(img/rocket.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wall3 {
    background-image: url(img/rainbow.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wall4 {
    background-image: url(img/valorant.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wall2,
.wall3,
.wall4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    margin-bottom: 100px;
}

.wall2 img#octane,
.wall3 img#nerd,
.wall4 img#champions {
    width: 100%;
    max-width: 450px;
    height: auto;
}

.wall5,
.wall52,
.wall53,
.wall54 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}

.wall5{
    background-image: url(img/apex.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wall52{
    background-image: url(img/apex2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wall53{
    background-image: url(img/apex3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hrResponsiva {
    border: none;
    height: 2px;
    background-color: #ccc;
    width: 100%;
}

.wall54{
    background-image: url(img/pubg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.BOTAO {
    background-color: #552CFF;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px 72px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.6s ease;
    font-family: "Chakra Petch", sans-serif;
    margin-top: 10px;
}

.BOTAO:hover {
    background-color: #2E1B5B ;
}

.titulo2 {
    font-family: fonteDOIS;
    color: #552CFF;
    text-align: center;
    font-size: 2.8rem;
}

p#planF1 {
    font-family: "Chakra Petch", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
    margin-top: 70px;
}

p#planF {
    font-family: "Chakra Petch", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
}

.inv {
    opacity: 0;
}

footer {
    background-image: url(img/rodape.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}

footer img {
    margin: -90px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .divheader {
        justify-content: center;
    }

    img#LOGOcabeca {
        width: 70%;
    }

    .wall, .wall2, .wall3, .wall4, .wall5, .wall52, .wall53, .wall54 {
        padding: 10px;
        background: fixed;
    }

    .TITULO, .txt {
        font-size: 1rem;
    }

    img#logoIN, img#octane, img#nerd, img#champions {
        max-width: 100%;
        height: auto;
    }

    .wall5 {
        flex-direction: column;
    }

    p#planF {
        font-size: 0.9rem;
    }

    .hrResponsiva {
        width: 100%;
        height: 1.5px;
    }

    .BOTAO {
        padding: 12px 34px;
        font-size: 14px;
    }

    footer {
        text-align: center;
        padding: 15px;
        background: fixed;
    }
}

@media (max-width: 480px) {
    .hrResponsiva {
        width: 100%;
        height: 1px;
    }

    .BOTAO {
      padding: 10px 20px;
      font-size: 12px;
    }
  }